.alert.alert-warning.alert-with-icon
{
    align-content: center;
    font-size: 18px;
}
.alert.alert-warning.alert-with-icon i
{
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}
.alert.alert-success.alert-with-icon i 
{
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}
.alert.alert-success.alert-with-icon 
{
    align-content: center;
    font-size: 18px;
}
.col-lg-6.col-md-6.notificaciones {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-lg-6.col-md-6.notificaciones div {
    width: 50%;
    margin: 0 auto;
}