.alert.alert-warning.alert-with-icon
{
    align-content: center;
    font-size: 18px;
}
.alert.alert-warning.alert-with-icon i
{
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}
.alert.alert-success.alert-with-icon i 
{
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}
.alert.alert-success.alert-with-icon 
{
    align-content: center;
    font-size: 18px;
}